body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    color: orange;
}
.kai {
    color: orange;
}
.ahm {
    color: #d06237;
}

h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}

.flexible-section {
    display:flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#f8d0a2, #d06237);
    color: white;
    padding: 10px 40px;
    font-weight: 600;
    border-radius: 5px;
}

.link-button:hover {
    background-image: linear-gradient(#d06237, #f8d0a2);
}

.top-banner {
    background-image: url("top-b.jpg");
    background-repeat: no-repeat;
}

.personal {
    background-image: url("top-b.jpg");
    background-repeat: no-repeat;
}

.q-width {
    width: 33%;
   
    margin: 0% 2%;
    border-left: 5px solid #d06237;
    border-radius: 5px;
    box-shadow: 10px 10px 30px gray;
}
.q-width p {
    padding-left: 5%;
    padding-right: 5%;
}

.q-width:hover {
    color: white;
    background-image: linear-gradient(#f8d0a2, #d06237);
}

.q-width h3 {
    background-color: #f8d0a2;
    text-align: center;
    text-align: justify;
}

footer p {
    text-align: center;
}

.padding-left {
    padding-left: 5%;
}